<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>FutureCom</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">FutureCom</h1>
      <h1 class="display-5">Bringing the world to your finger tips</h1>
      {% if user.is_anonymous %}
      <hr class="my-4">
      <p><b>               Apply for a Sim card online</b></p>
      <p>We have gone paperless. So you can !</p>
      <p>Apply through <i>Relationship Credential</i> issued by your bank and get the SIM card delievered at your home ! </p>
      <p>Access your bank application for issuance for <i>Relationship Credential</i>.</p>
      <p>Apply for Sim card only through your bank issued<i>Relationship Credential</i> by clicking on button below.</p>
      {% url 'oidc_auth_request' as login_url %}
      <a class="btn btn-primary btn-lg"  href="{{ login_url }}?pres_req_conf_id={{ settings.VC_AUTHN_PRES_REQ_CONF_ID }}" role="button">Apply through Relationship Credential</a>
      {% else %}
      <p class="alert alert-success" role="alert">Hello <B>
         {{user.oidc_user.userinfo.CustomerName}} </B>
         Relationship Credentials received and verified!. SIM will be delievered at your postal address : <B> {{user.oidc_user.userinfo.PostalAddress}} </B> </p>
      <hr class="my-4">
      <p>You can close your session.</p>
      <a class="btn btn-primary btn-lg"  href="{% url 'oidc_end_session' %}" role="button">Close Session</a>
      {% endif %}
      <br><br>
      <p>FutureCom accepts digital <i>Relationship Credentials</i> from the following banks for the instant verification and issuance of SIM cards</p>
      <ul> 
        <li>Future Bank</li>
        <li>Bhavishya Bank</li>
        <li>Avenir Bank</li>
        <li>Tulevik Bank</li>
    </div>
  </body>
</html>
